@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --font-open-sans: "Open Sans", sans-serif;
  --byzantine-blue: #1b233b;
  --dark-byzantine-blue: #192139;
  --light-black: #00000029;
  --dark-blue: #1c243e;
  --bg-section: #00071d;
  --orange: #f89b27;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: white;
  font-family: var(--font-open-sans);
}

/* Referral Program */
.referral-program-background {
  background-size: cover;
  background: transparent
    linear-gradient(53deg, var(--bg-section) 0%, var(--dark-blue) 100%) 0% 0%
    no-repeat padding-box;
  height: calc(100vh - 91px);
}

/* Carousel */

.custom-carousel .absolute.inset-y-0 {
  display: none !important;
}

.PresentationCarouselCard {
  backdrop-filter: blur(18px);
  background: transparent
    conic-gradient(
      from 53deg at 50% 50%,
      var(--byzantine-blue) 0%,
      var(--dark-byzantine-blue) 100%
    )
    0% 0% no-repeat padding-box;
  box-shadow: 4px 3px 10px var(--light-black);
}

.PresentationCarouselCard-image {
  backdrop-filter: blur(38px);
  -webkit-backdrop-filter: blur(38px);
  background: transparent
    conic-gradient(from 235deg at 50% 50%, #242a41 0%, #21283e 100%) 0% 0%
    no-repeat padding-box;
}

.PresentationCarouselCard-skill {
  margin-right: 3px;
}

.PresentationCarouselCard-skill::after {
  content: ", ";
}

.PresentationCarouselCard-skill:last-child::after {
  content: "";
}

.Navbar {
  box-shadow: 1px 1px 10px 0px rgba(203, 203, 203, 0.3803921569);
}
